body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(97, 101, 17, 0.505);
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}


.content {
    padding: 60px 20px;
}

#greeting {
    font-size: 2em;
}

h3{
    text-shadow: 2px 2px #f44c4c;;
}