<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Kategorię</title>
</head>
<body>
<h1>Dodaj nową kategorię</h1>
<form action="/categories/add" method="post">
    <label>Nazwa:</label><input type="text" name="name" required><br>
    <button type="submit">Zapisz</button>
</form>
<br>
<form th:action="@{/categories}" method="get" style="display:inline;">
    <button type="submit">Wróć do listy</button>
</form>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>
