<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    fetch('/cart')
        .then(response => response.json())
        .then(cartItems => {
            const cartTable = document.getElementById('cartTable');
            cartItems.forEach(item => {
                const row = `<tr>
                <td>${item.productName}</td>
                <td>${item.price}</td>
                <td>
                    <button onclick="updateQuantity(${item.productId}, -1)">-</button>
                    ${item.quantity}
                    <button onclick="updateQuantity(${item.productId}, 1)">+</button>
                </td>
                <td>${item.price * item.quantity}</td>
                <td><button onclick="removeFromCart(${item.productId})">Usuń</button></td>
            </tr>`;
                cartTable.innerHTML += row;
            });
        });

</script>



</body>
</html>