<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Szczegóły produktu</title>
</head>
<body>
<h1>Szczegóły produktu</h1>
<table border="1">
    <tr>
        <th>Id:</th>
        <td th:text="${product.id}"></td>
    </tr>
    <tr>
        <th>Nazwa:</th>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <th>Waga:</th>
        <td th:text="${product.weight}"></td>
    </tr>
    <tr>
        <th>Cena:</th>
        <td th:text="${product.price}"></td>
    </tr>
    <tr>
        <th>Kategoria:</th>
        <td th:text="${product.category}"></td>
    </tr>
</table>
<a href="/products">Wróć do listy</a>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>
