<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
</head>

<body>

    <h1>Tabela produktów</h1>
    <form th:action="@{/products/add}" method="get" style="display:inline;">
        <button type="submit">Dodaj produkt</button>
    </form>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Waga</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.weight}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category.name}"></td>
            <td>
                <form th:action="@{'/products/' + ${product.id} + '/details'}" method="get" style="display:inline;">
                <button type="submit">Szczegóły</button>
                </form>


                <form th:action="@{'/products/' + ${product.id} + '/edit'}" method="get" style="display:inline;">
                    <button type="submit">Edytuj</button>
                </form>


                <form th:action="@{'/products/' + ${product.id} + '/delete'}" method="get" style="display:inline;">
                    <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć ten produkt?')">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <form th:action="@{/categories}" method="get" style="display:inline;">
        <button type="submit">Przejdź do tabeli kategorii</button>
    </form>
<br>
  
<div th:insert="~{logout_link :: logout_link}"></div>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>
